services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://cvprojecthost1.ddns.net:5062
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start